:root {
  width: 100%;
}

.nav_bar{
  height: 66px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;


  img {
    height: 32px;
    margin-left: 35px;
  }

  .menu_items {
    font-family: "Inter", sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: rgba($color: #ffffff, $alpha: 0.8);
  }

  .icon_wrapper {
    color: rgb(218, 218, 218);
    display: flex;
    justify-self: flex-end;
  }
}
