<div class="banner">
  <img class="banner_poster" src="/assets/imgs/poster.png" alt="poster spiderhead">
  <div class="container">
    <p class="texto">Em uma penintenciaria de ultima geracao, um detento <br> participa de um experimento com drogas que controlam as <br> emocoes para um genio da industria farmaceutica</p>
    <div class="button_wrapper">
      <button class="btn1" type="button"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="play_arrow"></mat-icon>
        Assistir</button>
      <button class="btn2" type="button"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>
        Mais informações</button>
    </div>
  </div>
</div>
